*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    padding: 10px 0px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.container-sm{
    max-width: 900px;
    margin: 0 auto;
}

.side-col{
    width: 20%;
}

.main-col{
    width: 60%;
}

.content{
    padding: 10px;
}

.border-black{
    border: 1px solid black;
}

.bg-orange{
    background-color: orange;
}

.bg-violet{
    background-color: violet;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.h-300{
    height: 300px;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

#jumbotron{
    background-color: darkblue;
    padding: 20px 0px;
}

